<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="showCamera" (click)="closeCamera()">
        <ion-icon name="close"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-icon *ngIf="showCamera" class="frame" name="qr-scanner" ></ion-icon>

  <div *ngIf="!showCamera"> 
    <ion-item *ngIf="textScanned" lines="none" (click)="openLink(textScanned)">
    <ion-label>
      <p>Texte du QR Code</p>
      <h2><b>{{ textScanned }}</b></h2>
    </ion-label>
  </ion-item>

  <ion-button expand="block" (click)="scanCode()" >
    <ion-icon slot="start" name="qr-scanner"></ion-icon>
    Scanner un QR Code
  </ion-button>
</div>
</ion-content>
